
<div id="createGroupModal" name="createGroupModal" tabindex="-2" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true" style="z-index:10000;" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true"></span><span class="sr-only">Close</span></button>
        <h4 id="createGroupModal" class="modal-title">Create / Search Group</h4>
      </div>
      <div class="modal-body">
        <div ng-show="status !== undefined &amp;&amp; status.success === false" style="margin-bottom:10px;">
          <p class="colorPink">{{status.message}}</p>
        </div>
        <form role="form" name="form" novalidate="novalidate">
          <div class="form-group">
            <label for="productLink">Flipkart/Amazon.in Product Link</label>
            <input id="productLink" type="uri" placeholder="Flipkart/Amazon.in Product Link" ng-model="object.product_link" name="productLink" required="required" class="form-control"/>
          </div>
        </form><a ng-show="status !== undefined &amp;&amp; status.success === false" style="margin-bottom:10px;" href="mailto:akshay@rainingclouds.com?subject=Unable to parse&amp;body=I want to create a group for : {{object.product_link}}" class="btn btn-primary-border">Mail Us this link, we will try to fix this</a>
      </div>
      <div class="modal-footer">
        <button id="createGroup" type="button" data-loading-text="Fetching Info" ng-disabled="form.productLink.$error.required===true" ng-click="createGroup()" class="btn btn-primary-border">Go</button>
      </div>
    </div>
  </div>
</div>
<section ng-init="init()">
  <div style="padding:10px;" class="container-fluid bgGray">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2"><a ng-click="landing()"><img src="images/78f5700e.innerPageLogo.png" width="160px;" class="img-responsive text-center"/></a></div>
        <div class="col-md-6 pull-right col-md-offset-4 text-right">
          <div ng-show="sessionKey" ng-click="myGroups()" class="btn btn-primary-border">My Groups</div>
          <div ng-show="sessionKey" data-toggle="modal" data-target="#createGroupModal" class="btn btn-primary-border">Create / Search Group</div>
          <div ng-hide="sessionKey" ng-click="$root.goToLogin()" class="btn btn-primary-border">Login To Buy</div>
          <div ng-show="sessionKey" ng-click="logout()" class="btn btn-primary-border">Logout</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div style="margin-top:30px;" class="container">
    <div class="row">
      <div class="col-md-6">
        <p style="font-size:30px;" class="colorDarkGray rightPinkLine">Groups</p>
      </div>
    </div>
    <div class="row">
      <group ng-repeat="group in groups"></group>
    </div>
    <div style="margin-top:30px;" class="row">
      <div class="col-md-12 text-center"><a ng-show="pageNo &gt; -1" ng-click="getGroups()" class="btn btn-primary-border">Load more</a></div>
    </div>
  </div>
</section>
<hr style="margin-top:100px;"/>
<footer>
  <div class="container">
    <div class="row">
      <dov class="col-md-12 text-center copyrightTxt">(C) Lemonades LLC</dov>
    </div>
  </div>
</footer>