
<div ng-init="init()" class="container-fluid-full">
  <section style="padding-bottom:50px;" class="howItWorksBg">
    <div class="container-fluid">
      <div style="padding-top:15px;" class="row">
        <div class="col-md-12"><img src="images/78f5700e.innerPageLogo.png" width="200px;" class="pull-left"/><a ng-show="sessionKey" ng-click="dashboard()" class="pull-right btn btn-primary-border">Dashboard</a><a ng-show="sessionKey===undefined" ng-click="login()" class="pull-right btn btn-primary-border">Login</a><a ng-show="sessionKey===undefined" ng-click="register()" class="pull-right btn btn-primary-border marginRight10px">Register</a></div>
      </div>
      <div class="row">
        <div style="margin-top:5px;margin-bottom:15px;" class="col-md-12 text-center">
          <p style="font-size:45px;font-weight:thin;" class="pinkText">Next Generation Of Group Buying</p>
        </div>
      </div>
      <div class="row text-center marginTop50px">
        <div class="col-md-12"><img src="images/616bbf51.how_it_work.png" class="img-responsive"/></div>
      </div>
      <div class="row text-center marginTop50px"><a href="http://www.youtube.com/embed/_F6rBAHOrDs?autoplay=1" target="_blank" class="btn btn-lg btn-primary-border youtube">How It Works ?</a></div>
    </div>
  </section>
  <section ng-show="groups.length &gt; 0">
    <div style="padding-top:10px;" class="container">
      <div class="row">
        <div class="col-md-6">
          <p style="font-size:30px;" class="colorDarkGray rightPinkLine">Trending Groups</p>
        </div>
        <div class="col-md-6 text-right"><a ng-click="dashboard()" class="btn btn-primary-border">More</a></div>
      </div>
      <div class="row">
        <group ng-repeat="group in groups"></group>
      </div>
    </div>
    <div style="margin-top:30px;" class="row">
      <div class="col-md-12 text-center"><a ng-click="dashboard()" class="btn btn-primary-border">More</a></div>
    </div>
    <hr/>
  </section>
  <footer>
    <div style="margin-top:50px" class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="colorDarkGray">Spread your<span class="heart"></span>for us</h2>
        </div>
        <div style="margin-top:30px;" class="col-md-12 text-center">
          <div class="col-md-2 col-md-offset-3">
            <div data-href="http://www.lemonades.in/#!/?utm_source=fb_share_landing_page&amp;utm_medium=website&amp;utm_campaign=share" data-layout="button_count" class="fb-share-button"></div>
          </div>
          <div class="col-md-2 text-center"><a href="https://twitter.com/share" data-size="medium" data-text="Make groups and Get huge discounts on mobiles #mobiledevices #smartphones" data-url="http://www.lemonades.in/#!/?utm_source=tw_share_landing_page&amp;utm_medium=website&amp;utm_campaign=share" class="twitter-share-button">Tweet</a></div>
          <div class="col-md-2 text-center"><a data-action="share" data-annotation="bubble" data-height="24" data-href="http://www.lemonades.in/#!/?utm_source=gplus_landing_page&amp;utm_medium=website&amp;utm_campaign=share" class="g-plus"></a></div>
        </div>
        <div style="margin-top:20px;margin-bottom:20px;" class="col-md-12 text-center">
          <div data-href="https://www.facebook.com/lemonades.in" data-hide-cover="false" data-show-facepile="true" data-show-posts="false" data-width="500" style="width:500px;" class="fb-page"></div>
        </div>
        <div class="row"></div>
        <div class="col-md-12 text-center"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <dov class="col-md-12 text-center copyrightTxt">(C) Lemonades LLC</dov>
      </div>
    </div>
    <div id="fb-root"></div>
  </footer>
  <script type="text/javascript">
    FB = null;
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1608020712745966&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
      js = d.createElement(s);
      js.id = id;
      js.src = p + '://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'twitter-wjs'));
    (function () {
      var po = document.createElement('script');
      po.type = 'text/javascript';
      po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
    })();
    
  </script>
</div>