
<div class="container-fluid-full">
  <div style="padding:10px;" class="container-fluid-full bgGray">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2"><a ng-click="landing()"><img src="images/78f5700e.innerPageLogo.png" width="160px;" class="img-responsive text-center"/></a></div>
        <div class="col-md-4 pull-right col-md-offset-6 text-right">
          <div ng-click="login()" class="btn btn-primary-border">Login</div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top:50px;" class="container"></div>
  <h2 style="color:#E8277A;" class="text-center">Register</h2>
  <div style="margin-bottom:50px;" class="container">
    <div class="col-md-4 col-sm-4 col-sm-offset-4 col-md-offset-4">
      <div ng-show="status !== undefined &amp;&amp; status.success !== true">
        <div class="panel-danger text-center">
          <p>{{status.message}}</p>
        </div>
      </div>
      <form id="signUpForm" role="form" name="form" style="margin-top:20px;" novalidate="novalidate">
        <div ng-class="{'has-error form-group':form.$submitted &amp;&amp; form.email.$error.required || form.email.$error.email === true,'form-group':true}">
          <label for="email">Email</label>
          <input id="email" type="text" style="font-size:16px;" name="email" placeholder="Email" ng-model="user.email" required="" class="form-control"/>
        </div>
        <div ng-class="{'has-error form-group':form.$submitted &amp;&amp; form.mobile.$error.required || form.mobile.$error.email === true,'form-group':true}">
          <label for="mobile">Mobile Number</label>
          <input id="mobile" type="text" style="font-size:16px;" name="mobile" placeholder="Mobile Number" ng-model="user.mobile_number" required="" class="form-control"/>
        </div>
        <div ng-show="form.$submitted &amp;&amp;form.password.$error.minlength">Min length of password must be 8 characters</div>
        <div ng-class="{'has-error form-group':form.$submitted &amp;&amp;form.password.$error.required === true,'form-group':true}">
          <label for="password">Password</label>
          <input id="password" type="password" style="font-size:16px;" name="password" placeholder="Password" ng-model="user.password" required="" ng-minlength="8" class="form-control"/>
        </div>
        <div ng-class="{'has-error form-group':form.$submitted &amp;&amp;form.confirm_password.$error.required === true,'form-group':true}">
          <label for="confirmPassword">Confirm Password</label>
          <input id="confirmPassword" type="password" style="font-size:16px;" name="confirm_password" placeholder="Confirm Password" ng-model="user.confirm_password" required="" ng-minlength="8" class="form-control"/>
        </div>
        <div style="margin-top:10px;" class="text-center">
          <button id="signUpButton" type="submit" ng-click="register()" data-loading-text="Registering..." class="btn btn-primary-border">Register</button>
        </div>
      </form>
    </div>
    <!--div.col-md-3.col-sm-3.text-center(style="margin-top:80px;")-->
    <!--  a#loginWithFacebook.text-center(ng-click="loginWithFacebook()")-->
    <!--    image(src="images/fb_login.png",style="width:190px;")-->
    <!--  a#loginWithGPlus.text-center(ng-click="loginWithGooglePlus()")-->
    <!--    image(src="images/google_sign_in.png",style="width:195px;")-->
  </div>
</div>